<!DOCTYPE html>
<html>
  <head>
    <title><%=title%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel='stylesheet' href='/stylesheets/common.css' />
    <link rel='stylesheet' href='/stylesheets/loginway.css' />
  </head>
  <body>
    <div id="head_nav">
      <div class="nav_ul">
        <input class="nav_li" type="button" value="服务器页面"/>
        <input class="nav_li" type="button" value="登录方式管理页面"/>
        <input class="nav_li" type="button" value="app页面"/>
        <input class="nav_li" type="button" value="仓库页面"/>
      </div>
    </div>
    <div id="body" class="flex_column_center_center">
      <div class="title_box flex_row_center_center">
        <div class="title"><%=title%></div>
      </div>
      
      <div id="content" class="flex_column_center_center">
        <div class="box">
            <div class="way_title flex_row_center_center">
                <div class="way_name">登录信息</div>
                <!-- <select id="loginWay">
                    <option value="account">账号</option>
                    <option value="sshkey">sshkey</option>
                </select> -->
            </div>
            <div class="account_way">
                <div class="line">
                    <div class="line_name">账号</div>
                    <input class="line_value" type="text" value="" />
                </div>
                <div class="line">
                    <div class="line_name">密码</div>
                    <input class="line_value" type="text" value="" />
                </div>
                <input class="button" type="button" value="确认修改" />
            </div>

            <div class="way_title flex_row_center_center">
                <div class="way_name">sshkey信息</div>
            </div>
            <div class="account_way">
                <div class="line">
                    <div class="line_name">sshkey文件</div>
                    <input class="line_value line_file" type="file"/>
                </div>
            </div>

        </div>
      </div>
    </div>
  </body>
</html>
